@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?or1tgc');
  src:  url('fonts/icomoon.eot?or1tgc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?or1tgc') format('truetype'),
    url('fonts/icomoon.woff?or1tgc') format('woff'),
    url('fonts/icomoon.svg?or1tgc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-s