@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?or1tgc');
  src:  url('fonts/icomoon.eot?or1tgc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?or1tgc') format('truetype'),
    url('fonts/icomoon.woff?or1tgc') format('woff'),
    url('fonts/icomoon.svg?or1tgc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
  content: "\f002";
}
.fa-star-half-full:before {
  content: "\f006";
}
.fa-home:before {
  content: "\f015";
}
.fa-feed:before {
  content: "\f09e";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before {
  content: "\f1d7";
}
.fa-weixin:before {
  content: "\f1d7";
}
.fa-arrow-circle-o-down:before {
content: "\f01a";
}
.fa-circle-o:before {
  content: "\f01a";
}  
.fa-bars:before {
content: "\f039";
}
.fa-arrow-circle-up:before {
content: "\f062";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-comment:before {
  content: "\f0e5";
}
.fa-share-square:before {
  content: "\f0e5";
}
.fa-newspaper-o:before {
  content: "\f0f6";
}
.fa-print:before {
  content: "\f162";
}
.fa-thumbs-o-up:before {
  content: "\f164";
}
.fa-heart:before {
  content: "\f164";
}
.icon-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
body {
  background: url(../img/bg2.png) fixed;
  color: #666;
  font-weight: 400;
  font-size: 15px;
  font-family: "Ek Mukta", sans-serif;
  line-height: 1.6em;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video iframe,
.video object {
   width: 100%;
    height: auto;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-weight: 600;
}
p {
  margin: 0 0 20px;
}
.indent {
  text-indent: 0px;
}
a {
  color: #41872d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:focus,
a:hover {
  color: #000;
  text-decoration: none;
}
.bige20 {
  font-size: 24px;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
.post:after,
.post:before,
article:after,
article:before,
section:after,
section:before {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  content: "\0020";
}
.clear {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: "\0020";
}
.clearfix:after,
.clearfix:before {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  content: "\0020";
}
hr.line {
  margin: 0;
  padding: 0;
  width: 100%;
  border-color: #ddd;
}
.copyrights {
  overflow: hidden;
  height: 0;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
body.sub-page {
  padding-top: 30px;
  background-color: #f9f9f9;
}
body.sub-page .logo {
  margin: 110px 0 80px;
  padding: 30px 0 50px;
}
#top {
  padding: 10px 0 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #000;
}
#top a {
  color: #000;
}
#top a:hover {
  color: #69bf03;
}
.link {
  text-align: right;
}
.link a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
}
.link li:after {
  display: inline-block;
  margin: 0 0 0 12px;
  content: "/";
  font-weight: 700;
}
.link li:last-child:after {
  display: none;
  margin-right: 0;
  margin-left: 0;
  content: "";
}
.link li ul {
  display: none;
}
#menu {
  border-radius: 0;
  background-color: #000;
}
#menu a.navbar-brand:hover {
  color: #fff;
}
#menu .navbar-brand {
  margin: 0;
  padding: 14px 18px;
  height: auto;
  background-color: #000;
  text-transform: uppercase;
}
#menu .navbar-collapse {
  padding: 0;
}
#menu .navbar-nav {
  background-color: #000;
}
#menu .dropdown-menu {
  border: none;
  background-color: #fff;
}
#menu ul.nav .dropdown-menu li a {
  border-radius: 5px !important;
  color: #000;
  font-weight: 700;
}
#menu ul.nav .dropdown-menu li a:hover {
  background-color: #41872d;
  color: #fff;
}
#menu .dropdown-inner {
  display: table;
  background-color: #fff;
}
#menu .dropdown-inner ul {
  display: table-cell;
}
#menu .dropdown-inner a {
  clear: both;
  display: block;
  margin: 0 5px;
  padding: 3px 20px;
  min-width: 160px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
#menu li.dropdown:active > a,
#menu li.dropdown:focus > a,
#menu li.dropdown:hover > a {
  background: #41872d;
  color: #fff;
}
#menu ul.nav li a {
  padding: 14px 19px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}
#menu ul.nav li.dropdown a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
#menu .nav > li > a:focus,
#menu .nav > li > a:hover {
  background-color: #41872d;
  color: #fff;
}
#menu .top-social {
  padding: 5px;
  background-color: #000;
  text-align: center;
  font-size: 20px;
}
#menu ul.top-social {
  margin: 0;
}
#menu ul.top-social li {
  width: 38px;
  height: 38px;
}
#menu ul.top-social a i {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #41872d;
  color: #fff;
  line-height: 1.9;
}
#menu ul.top-social a i:hover {
  background-color: #fff;
  color: #000;
}
#menu .btn-navbar {
  float: right;
  padding: 5px 15px;
  border: 3px solid #41872d;
  color: #41872d;
  font-size: 20px;
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
  #menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }
  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }
  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.carousel-inner img {
  width: 100%;
  max-height: 640px;
}
.carousel-control {
  width: 0;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 30px;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 30px;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.carousel-indicators .active {
  background-color: #da251d;
}
.carousel-indicators {
  bottom: 10px;
}
.carousel-inner > .item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  display: block;
  margin-left: 0;
  padding-left: 0;
  height: auto;
  max-width: 100%;
}
.header-text {
  position: absolute;
  top: 33%;
  right: auto;
  left: 1.8%;
  width: 96.66666666666666%;
  color: #fff;
}
.header-text h2 {
  display: inline-block;
  padding: 10px;
  background-color: #da251d;
  color: #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}
.header-text h3 {
  color: #fff;
}
#page-content {
  padding: 0;
}
#page-content.archive-page,
#page-content.index-page,
#page-content.single-page {
  margin-top: 20px;
}
.archive-page .box .zoom-container {
  float: left;
  display: inline-block;
  margin-right: 5px;
  max-width: 250px;
}
.featured {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.box {
  padding: 10px 10px 10px;
  background-color: #fff;
}

.box:after,
.box:before {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  content: "\0020";
}
.box .info {
  margin: 5px 0 10px 0;
}
.box .info a {
  border-bottom: 1px solid #000;
  box-shadow: inset 0 -1px 0 #000;
  color: #000;
  transition: all ease 150ms;
}
.box .info a:hover {
  border-bottom: 1px solid #000;
  box-shadow: inset 0 -1.3em 0 #000;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
.box h2 {
  margin: 0;
  font-size: 19px;
}
.box .box-header.header-photo {
  margin-bottom: 20px;
  background: url(/common/js/img/title-picture.png) repeat-x center center;
}
.box .box-header.header-natural {
  margin-bottom: 20px;
  background: url(/common/js/img/title-natural.png) repeat-x center center;
}
.box .box-header.header-vimeo {
  margin-bottom: 20px;
  background: url(/common/js/img/title-vimeo.png) repeat-x center center;
}
.box .box-header h2 {
  display: inline-block;
  margin-left: 15px;
  padding: 0 8px;
  background-color: #fff;
  color: #333;
  font-size: 25px;
}
.box .box-content {
  margin-top: 30px;
}
.box .box-content a {
  color: #333;
  font-weight: 700;
}
.box .box-content a:hover {
  color: #555;
}
.box .box-content h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}
.box .box-content span {
  font-size: 15px;
}
.box .box-content span i {
  margin-right: 2px;
  font-size: 14px;
}
.box .box-content p {
  margin-top: 10px;
}
.vid-item {
  position: relative;
}
.vid-name {
  margin: 0;
}
.vid-name a {
  color: #333;
  font-size: 19px;
}
.vid-name a:hover {
  color: #fd0005;
}
.vid-tags {
  margin: 15px 0;
  padding: 30px;
  border: 1px solid #ddd;
}
.vid-tags a {
  padding: 5px 10px;
  background: #fd0005;
  color: #fff;
}
.vid-tags a:hover {
  background: #000;
}
.info {
  margin: 0;
  font-size: 14px;
}
.info i {
  margin-right: 8px;
}
.info span {
  margin-right: 10px;
}
.info a,
.info h5 {
  margin: 0 0 5px;
  font-size: 13px;
  line-height: 1;
}
.info a {
  color: #006ea0;
}
.info a:hover {
  text-decoration: underline;
}
.rating {
  font-size: 14px;
  line-height: 1.2;
}
ul.pagination {
  margin: 42px auto 25px;
}
ul.pagination li a {
  color: #444;
}
.widget {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 10px 20px;
  background: #fff;
}
.widget:after,
.widget:before {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  content: "\0020";
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul li {
  overflow: hidden;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.widget .heading {
  background: url(/common/js/img/title.png) repeat-x center center;
}
.widget .heading h4 {
  display: inline-block;
  margin-left: 15px;
  padding: 0 8px;
  background-color: #fff;
  color: #333;
  text-transform: uppercase;
  font-size: 22px;
}
.widget.wid-vid ul a {
  float: left;
  display: inline;
  margin: 3px 2px;
  padding: 5px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid transparent;
  border-left: none;
  color: #333;
  font-weight: 700;
}
.widget.wid-vid .tab-content {
  margin-top: 13px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: 0 0;
}
.widget.wid-vid ul a:focus,
.widget.wid-vid ul a:hover {
  border-top: none;
  border-right: none;
  border-left: none;
  background: 0 0;
}
.widget.wid-vid ul li {
  border-bottom: 1px solid transparent;
}
.widget.wid-vid ul li:hover {
  border-bottom: 1px solid #fd0005;
}
.widget.wid-vid ul li + :hover {
  border-bottom: 1px solid #41872d;
}
.widget.wid-vid ul li + li + :hover {
  border-bottom: 1px solid #966b20;
}
.widget.wid-vid .po