html,body,head,div,p,a{margin: 0;padding: 0;}
.body-bg{background-color: #dff1f4;}
.main{width: 700px;overflow: hidden;height: 542px;margin: 100px auto;}
.title{font-size: 20px;line-height: 43px;font-